<ion-view hide-nav-bar="true">
  <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <ion-content class="home-background" ng-click="emailLogin()" hide-tabs>
    <div class="buffer" style="height: 130px"></div>

    <h1 align="center" style="color:#ffffff; font-family: 'Sacramento', cursive; font-size: 8em; font-weight: bold;">Lala</h1>
    <h1 align="center" style="color:#ffffff; font-family: 'Sacramento', cursive; font-size: 8em; font-weight: bold;">Louie</h1>

  </br>
</br>

    <p style="text-align: center; color:#ffffff; font-family: 'Amatic SC', cursive; font-size: 1.5em;">Created by <a href="https://www.linkedin.com/in/mayanovarini">Maya Novarini</a></p>


  </ion-content>
</ion-view>
