<ion-view>
  <ion-nav-title class="lalalouie">
    <h1 align="center" style="font-family: 'Sacramento', cursive; margin-top:3px; color: #82C0BD; font-weight: bold;">Lala Louie</h1>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <form ng-submit="button(product)">
        <div class="row">
          <div class="col col-33">
            <img style="height: 140px; width: 140px;" ng-src="{{imgURI}}">
          </div>
          <div class="col col-50 col-offset-10">
            <label class="item item-input inputUpload">
              <input type="text" ng-model="product.name" placeholder="Product Name">
            </label>
            <label class="item item-input inputUploadTop">
              <input type="text" ng-model="product.tagline" placeholder="Tagline">
            </label>
            <label class="item item-input inputUploadTop">
              <input type="text" ng-model="product.price" placeholder="Price">
            </label>
          </div>
        </div>

        <label class="item item-input inputUploadTop">
          <input type="text" ng-model="product.description" placeholder="Description">
        </label>

        <br/>
        <button type="submit" class="button button-block button-balanced" style="display: flex; flex-direction: column; justify-content: center;">
          Submit
        </button>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
