<ion-view>
  <ion-nav-title class="lalalouie">
    <h1 align="center" style="font-family: 'Sacramento', cursive; margin-top:3px; color: #82C0BD; font-weight: bold;">Lala Louie</h1>
  </ion-nav-title>
  <ion-content>
      <div class="row responsive-sm">
        <div class="col" style="margin-top: 8em;">
          <h2 class="item item-icon-left">
            <i class="icon ion-person"></i>
            Edit username
          </h2>

          <h2 class="item item-icon-left">
            <i class="icon ion-email"></i>
            Edit email address
          </h2>

          <h2 class="item item-icon-left">
            <i class="icon ion-locked"></i>
            Edit password
          </h2>

        </div>
        <div class="col">
          <button class="button button-assertive" ng-click="logout()">Logout</button>
        </div>

      </div>
  </ion-content>
</ion-view>
