<ion-view view-title="Account">
  <ion-content>
      <div class="row responsive-sm">
        <div class="col" style="margin-top: 8em;">
          <h2 class="item item-icon-left">
            <i class="icon ion-person"></i>
            Edit username
          </h2>

          <h2 class="item item-icon-left">
            <i class="icon ion-email"></i>
            Edit email address
          </h2>

          <h2 class="item item-icon-left">
            <i class="icon ion-locked"></i>
            Edit password
          </h2>

        </div>
        <div class="col">
          <button class="button button-assertive" ng-click="logout()">Logout</button>
        </div>

      </div>
  </ion-content>
</ion-view>
