<ion-view>
  <ion-nav-title class="lalalouie">
    <h1 align="center" style="font-family: 'Sacramento', cursive; margin-top:3px; color: #82C0BD; font-weight: bold;">Lala Louie</h1>
  </ion-nav-title>
  <ion-content>
    <ion-list>
    <div class="list card photoChoice">
      <div class="item item-divider title">
        <h2>Type of Photo</h2>
      </div>
        <div class="item item-image choice">
          <div class="row">
            <div class="col">
              <button class="button button-icon" ng-click="takePhoto()">
                <i class="ion-ios-camera"></br></i>Take Photo
              </button>
            </div>
            <div class="col">
              <button class="button button-icon" ng-click="choosePhoto()">
                <i class="ion-images"></br></i>Photo Library
              </button>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
